<!DOCTYPE html>
<html>
  <head>
    <title>Progress - WuX-UI</title>
    <link rel="icon" href="../src/img/logo.svg">
    <link href="../src/css/wux.css" rel="stylesheet">
    <!--HTML import-->
    <script src="../src/js/html-import/html-import.js"></script>
    <script src="../src/js/html-import/html-import-polyfill.js"></script>
    <!--Polyfill-->
    <script src="../src/js/attr-polyfill/attr-polyfill.js"></script>
    <script src="../src/js/dialog-polyfill/dialog-polyfill.js"></script>
    <!--Highlight-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.6.0/styles/default.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.6.0/highlight.min.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@11.6.0/build/languages/css.min.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@11.6.0/build/languages/scss.min.js"></script>
    <script>hljs.highlightAll();</script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no"/>
  </head>
  <body class="wux-header-fixed-margin">
    <link rel="import" href="../include/header.html" is="ui-import">
    
    <div class="wux-container">
      <div class="wux-jumbotron">
        <h1 class="wux-jumbotron-title"><b class="wux-jumbotron-title-bold">WuX-UI</b> Progress</h1>
        <p class="wux-jumbotron-subtitle">The Progress component acts as a progress bar and can be used together with Loading.</p>
      </div>
      
      <!--Get Start-->
      <div class="wux-typo" margin-bottom="10px">
        <h2>Example</h2>
      </div>
      <div class="wux-row-sm-1 wux-row-md-2">
        <div class="wux-col">
          <progress class="wux-progress" value="80" max="100"></progress>
        </div>
        <div class="wux-col">
          <div class="wux-typo" margin-bottom="10px">
            <pre><code>&lt;progress class="wux-progress" value="80" max="100"&gt;&lt;/progress&gt;</code></pre>
          </div>
        </div>
      </div>
        
      <div class="wux-typo" margin-bottom="10px">  
        <h2>Customize</h2>
        <h4>SCSS Variables</h4>
        <pre><code class="language-scss">/*Default*/
$progress-background-color
$progress-border-width
$progress-border-color
$progress-border-radius
$progress-height
$progress-line-color

/*Dark*/
$progress-background-color-dark
$progress-border-color-dark
$progress-line-color-dark</code></pre>
      
        <h4>CSS Variables</h4>
        <pre><code class="language-css">:root {
  --progress-background-color
  --progress-border-width
  --progress-border-color
  --progress-border-radius
  --progress-height
  --progress-line-color
}</code></pre>
      </div>
      
      <div margin-top="40px"></div>
      <float-clear>
        <a href="../" class="wux-btn wux-btn-text" float="left">Back</a>
      </float-clear>
      
      <link rel="import" href="../include/footer.html" is="ui-import">
    </div>
  </body>
</html>
